<%- include("partials/header.ejs") %>

  <h1>Ngurah Ariwhrihaspati</h1>
  <div class="menu">
  <img class="profile-pic" src="images/id1.jpg" alt="profile image of Ngurah Ariwhrihaspati">
  <!-- <h2>Summary</h2>
  </div>
  <p>Versatile and solution-driven Software Engineer & Full-Stack Developer with hands-on experience in website development, AWS Cloud fundamentals, and Machine Learning concepts. Skilled in building end-to-end web applications and operational tools, with a strong focus on data visualization, real-time reporting dashboards, and interactive charts for operational insights. Passionate about transforming complex data into clear, actionable visuals, especially in the context of time-based reports and live monitoring systems. Continuously learning and applying modern web technologies, cloud infrastructure, and machine learning fundamentals to deliver scalable, efficient, and visually impactful solutions</p> -->
  <hr>
  <h2>Education</h2>
  <ul>
  <p class="Ijazah">Bachelor of Engineering, Industrial Engineering - Trisakti University (2017-2022)</p>
  </ul>
  <hr>
  <h2>Work Experience</h2>
  <ul>

    <li>
      <h3>Administrative Staff - Bali Provincial Public Works</h3>
      <p>January 2023 - Present</p>
      <p>Governance of Public Works Projects in Road Construction Sector</p>
      <ul>
        <li>Ensured compliance with organizational policies and procedures in all administrative tasks</li>
        <li>Supported the team in various administrative duties as needed to facilitate smooth project operations</li>
      </ul>
    </li>

    <!-- <li>Responded to daily requests from stakeholders about activities or businesses in the use of road sections</li>
        <li>Collaborated with cross-functional teams to ensure project success</li>
        <li>Conducted quotation and goods receipt</li>
        <li>Prepared documents for budget realization reports</li>
        <li>Managed administrative tasks related to project documentation and reporting</li>
        <li>Assisted in coordinating meetings and communication between project stakeholders</li>
        <li>Maintained organized records of project activities and correspondence</li>
        <li>Prepared and processed procurement documents</li>
        <li>Assisted in budget tracking and financial documentation</li>
        <li>Coordinated with vendors and suppliers for timely delivery of goods and services</li> 
        <li>Prepared periodic reports on project progress and administrative activities</li>
        <li>Maintained confidentiality of sensitive information related to projects and stakeholders</li>
        <li>Assisted in asset management activities</li>
        <li>Updating asset data in the system</li>
        <li>Conducting physical verification of assets</li>
        <li>Filing files related to asset transfer</li> -->

    <!-- <li>
      <h3>Property Management Sales Agent - bnbprofits</h3>
      <p>Jan 2023 - Mar 2023</p>
      <ul>
        <li>Assisted clients in buying, selling, and renting properties</li>
        <li>Conducted market research to identify potential clients and properties</li>
        <li>Negotiated contracts and agreements with clients and property owners</li>
        <li>Coordinated property viewings and inspections. Maintained accurate records of client interactions and transactions</li>
        <li>Responded to client inquiries and concerns in a timely manner</li>
        <li>Collaborated with cross-functional teams to ensure customer satisfaction</li>
      </ul>
    </li> -->

    <!-- <li>
      <h3>Agent Acquisition - shipper.id</h3>
      <p>May 2022 - Jul 2022</p>
      <ul>
        <li>Identified leads and educated prospects on SaaS products through calls, trainings, and presentations</li>
        <li>Provided existing customers with exceptional support</li>
        <li>Negotiated contracts and agreements with clients</li>
        <li>Conducted market research to identify potential clients and properties</li>
        <li>Used CRM to manage and forecast sales opportunities</li>
        <li>Collaborated with cross-functional teams to ensure customer satisfaction</li>
      </ul>
    </li> -->
    
  </ul>
  
  <hr>
  <h2>Core Competencies</h2>
  <ul class="c25c">
    <li>Data Visualizations and interactive charts</li>
    <li>Database design, management, and optimization</li>
    <li>Model development using Machine Learning fundamentals</li>
    <li>End-to-end Website Development (Full-Stack)</li>
  </ul>
  <hr>
  <h2>Awards and Certifications</h2>
  <p>AWS Certified Cloud Practitioner - Amazon Web Services (December 2022)</p>
  <hr>

  <h2 >Other</h2>

  <div class="container flex">
    <div class="links" style="flex: 1.5; position: relative;">
      <a href="/home" class="bottom-left-link">My Projects</a>
      <a href="/contact" class="">Contact Me</a>
    </div>
  
    <div class="map" style="flex: 8.5;">
      <div id="map" style="height: 500px; width: 100%;"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap" async defer></script>
      <script src="scripts/map.js"></script>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>
