<%- include("partials/header.ejs") %>

<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
  <h1><%= result_form %></h1>
</div>

<%- include("partials/footer.ejs") %>